# Override Nix arguments for local testing
# NIX_CONFIG=
# NIX_ARGS='--override-input my-agents path:/home/dev/Projects/lasuillard/agents --override-input my-agents path:/home/dev/Projects/lasuillard/secrets'
